@use "partials/vars";
@use "partials/basic";
@use "partials/mixins";
@use "partials/slider";

h1 {
  font-size: 3vw;
}
p,
a,
h1,
h2,
h3 {
  font-family: var(--font-1);
}
main {
}

#scrollinfo {
  height: var(--scrollbar-height);
  background-color: var(--color-2);
  width: 100%;
  position: fixed;
  top: var(--nav-height);
  /*   width: calc(var(--ratio) * 100%); */
  transform: translate(calc(-100% + var(--ratio) * 100%), 0);
}

nav {
  z-index: 200;
  position: fixed;
  top: 0;
  @include mixins.gridCenter;

  height: var(--nav-height);
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: var(--nav-height);

  //background-color: var(--color-7);
}

.the-container {
  height: calc(100vh - var(--nav-height) - var(--scrollbar-height));
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: both proximity;
  perspective: 2px;
  transition: 0.5s ease-in-out;
  position: relative;
  top: calc(var(--nav-height) + var(--scrollbar-height));
}

#projects .container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.2vw;
  @include mixins.gridCenter; */
}
.the-container::-webkit-scrollbar {
  display: none;
}

#home {
  display: table;
}

.flexGB {
  flex-grow: 1;
  flex-basis: 300px;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#home .container {
  flex-wrap: nowrap;
}

#home .container .headline-container {
  flex-grow: 6;
  flex-basis: 200px;
  border-right: 2px solid grey;
  margin-right: 20px;
  padding-right: 20px;
}
#home .container .headshot-container {
  border-radius: 50%;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 200px;
}

.project {
  display: flex;
  flex-grow: 1;
  flex-basis: 400px;
}
section {
  max-width: 1180px;
  margin: 0 auto;
  scroll-snap-align: center;
  min-height: calc(100vh - var(--nav-height) - var(--scrollbar-height));

  display: table;
}

/* videos */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.mobile-menu-dropdown {
  position: absolute;
  z-index: 998;
  color: black;
  background: var(--color-3);
  height: 100vh;
  display: inline-block;
  transition: 400ms right cubic-bezier(0, 0.2, 0.38, 0.7);
  width: 70vw;
  top: calc(var(--nav-height)+ var(--scrollbar-height));
  right: -70vw;
  padding: 50px;
}

.shadow {
  // filter: drop-shadow(0 0 0.75rem black);
  box-shadow: -12px 3px 21px -8px rgba(31, 31, 31, 0.76);
}

.blurred {
  filter: blur(3px) grayscale(60%);
}
.mobile-menu-dropdown.active {
  right: 0;
  top: calc(var(--nav-height)+ var(--scrollbar-height));

  /*  background-image: url();
    background-size: cover;
    background-position: center;*/
}

.atags-mobile-menu a {
  display: flex;
  padding: 5vw;
  justify-content: flex-end;
  font-size: 5vw;
  position: relative;

  color: var(--color-1);
  text-align: left;
  animation: fade-in-left 2s;
}

/* burgermenu'en & span's rotationer  -START- */

.menu__toggler {
  z-index: 999;
  grid-column: 5;
  outline: none;
  cursor: pointer;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: "";

  width: 28px;
  height: 2.5px;
  background: black;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
  top: -8px;
}

.menu__toggler span::after {
  top: 8px;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::before,
.menu__toggler.active > span::after {
  background: black;
  filter: contrast(11);
  top: 0px;
}

.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* burgermenu'en & span's rotationer SLUT*/
/* Animation til text -START- */
.fade-in-left {
  /*   -webkit-animation: fadeinleft 600ms ease-in-out;
  -moz-animation: fadeinleft 600ms ease-in-out;
  -o-animation: fadeinleft 600ms ease-in-out;
  -ms-animation: fadeinleft 600ms ease-in-out; */
  animation: fadeinleft 800ms ease-in-out;
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Animation til text -SLUT- */

/* Mobile nav & Burgermenu sektion -SLUT- */

/* Desktop Menu -START- */
a {
  text-decoration: none;
}

#desktop-menu {
  display: none;
  grid-column: 4 / span 2;
}

#desktop-menu a {
  color: var(--color-2);
  font-size: 1.2vw;
  padding-left: 1.5vw;
}

@media only screen and (min-width: 728px) {
  #mobile-menu,
  .menu__toggler {
    display: none;
  }

  #desktop-menu {
    display: flex;
  }
}
