@use "partials/vars";
@use "partials/basic";
@use "partials/mixins";
@use "partials/slider";
@use "partials/mediaquery";
@use "partials/menu";
@use "partials/form";
@use "partials/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font-7);
  color: #303030;
}
body {
  background: #303030;
}
#scrollinfo {
  height: var(--scrollbar-height);
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: var(--nav-height);
  /*   width: calc(var(--ratio) * 100%); */
  transform: translate(calc(-100% + var(--ratio) * 100%), 0);
}

.the-container {
  height: calc(100vh - var(--nav-height));

  background-color: #b8c6db;
  background-image: linear-gradient(180deg, #303030 0, #545454 54%);

  background-image: linear-gradient(to right bottom, #303030, #393939, #424242, #4b4b4b, #545454);
  background-image: linear-gradient(to left bottom, #d1d1d1, #dadada, #e3e3e3, #ececec, #ebebeb);
  background-image: none;
  background-color: rgb(248, 248, 248);
  /*   background-image: url(/static/imgs/unnamed.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  overflow: scroll;
  scroll-behavior: smooth;
  perspective: 2px;
  transition: 0.5s ease-in-out;
  position: relative;
  // background: #545454;
  top: calc(var(--nav-height));
}

.the-container::-webkit-scrollbar {
  display: none;
}

#home {
  display: table;
}

.flexGB {
  flex-grow: 1;
  flex-basis: 300px;
}
.cell {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#home .cell {
  vertical-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  height: 100%;
}
#home .container {
  flex-wrap: wrap-reverse;
}

#home .container .headline-container {
  flex-grow: 1;
  // flex-basis: 400px;
  //border-right: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  text-align: center;
  align-self: flex-end;
}
#home .container .headshot-container {
  border-radius: 50%;
  overflow: hidden;
  flex-grow: 1;

  //max-width: 150px;
  box-shadow: 0px 0px 6px 0.5px rgba(0, 0, 0, 1);
  margin-bottom: 2rem;
}

.project {
  display: flex;
  flex-grow: 1;
  flex-basis: 400px;
}
.project img {
  cursor: pointer;
}
section {
  max-width: 1180px;
  margin: 0 auto;
  scroll-snap-type: both mandatory;
  scroll-snap-align: center;
  min-height: calc(100vh - var(--nav-height) - var(--scrollbar-height));
  display: table;
  height: 100%;
}

#home/* .current */ {
  $delay: 1s;
  $time: 1.5s;
  .headline-container {
    h1 {
      transition: all $time ease-in-out;
      transition-delay: $delay;
      transform: translateX(0%);
      font-style: normal;
      font-size: 25px;
      font-weight: 300;
      color: #303030;
      text-shadow: 0px 1px 0px #303030;
    }
    h2 {
      //   color: red;
      transition: all $time ease-in-out;
      transition-delay: $delay * 2;
      transform: translateX(0%);
      font-weight: 600;
      font-size: 20px;
      font-style: normal;
      padding-bottom: 2rem;
      padding-top: 2rem;
      text-shadow: -1px 0px 1px #303030;
    }
    h3 {
      //   color: red;
      transition: all $time ease-in;
      transition-delay: $delay * 3;
      transform: translateX(0%);
      font-style: normal;
      font-size: 20px;
      font-weight: 500;
      padding: 0;
      text-shadow: 0px 1px 0px #303030;
    }
  }
  .headshot-container {
    transition: fadeIn 3s;
    transition-delay: $delay * 3;
  }
}

/* .headline-container h1 {
  transform: translateX(200%);
}
.headline-container h2 {
  transform: translateX(200%);
}
.headline-container h3 {
  transform: translateX(200%);
} */
/* videos */

/* Add some content at the bottom of the video/page */

/* Style the button used to pause/play the video */

.linkedIn {
  color: #0077b5;
}

.pcontainer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  grid-template-rows: 1fr;
}
.link {
  text-align: center;
}
.link p {
  cursor: pointer;
  color: black;
  transition: 0.3s;
  font-weight: 700;
}

.link p:hover {
  color: var(--color-1);
}
.tekst-container {
  width: 100%;
  padding: 0.5rem;
  align-self: baseline;
  span {
    color: black;
    font-weight: bold;
  }
}
#summary .tekst-container {
  margin-bottom: 2rem;
}
.skills-container {
  width: 100%;

  .skills {
    display: grid;
    padding-left: 12px;
    padding-right: 12px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;

    padding-top: 1.5rem;
    width: 100%;
    padding-bottom: 2rem;
    div.skill {
      width: 100%;
      height: 75px;
      background: #303030e7;
      display: grid;
      border-radius: 15px;

      justify-content: center;
      align-items: center;
      font-family: "Playfair", "sans-serif";
      font-weight: 500;
      font-size: 15px;
      border: 3px solid #d1d1d1;
      color: white;
      box-shadow: 0px 0px 2px 0px black;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
    }
    p {
      padding: 0;
      padding-bottom: 10px;
      font-weight: 900;
      font-size: 16px;
    }
    div.html {
      border: 3px solid deepskyblue;
      box-shadow: 0px 0px 2px 0px deepskyblue;
      p {
        color: deepskyblue;
      }
    }
    div.css {
      border: 3px solid darkorange;
      box-shadow: 0px 0px 2px 0px darkorange;
      p {
        color: darkorange;
      }
    }
    div.js {
      box-shadow: 0px 0px 2px 0px greenyellow;
      border: 3px solid greenyellow;
      p {
        color: greenyellow;
      }
    }
    div.sass {
      box-shadow: 0px 0px 2px 0px hotpink;
      border: 3px solid hotpink;
      p {
        color: hotpink;
      }
    }
    div.wp {
      box-shadow: 0px 0px 2px 0px #5fcff1;
      border: 3px solid #5fcff1;
      p {
        color: #5fcff1;
        padding: 0;
        font-size: 18px;
      }
    }

    div.xd {
      box-shadow: 0px 0px 2px 0px #f529bd;
      border: 3px solid #f529bd;
      p {
        color: #fbd8ef;
        padding: 0;
        font-size: 18px;
      }
    }
    div.indesign {
      box-shadow: 0px 0px 2px 0px #ff3f94;
      border: 3px solid #ff3f94;
      p {
        color: #ff3f94;
        padding: 0;
        font-size: 18px;
      }
    }
    div.illu {
      box-shadow: 0px 0px 2px 0px #ff7c00;
      border: 3px solid #ff7c00;
      p {
        color: #ff7c00;
        padding: 0;
        font-size: 18px;
      }
    }
  }
}
.image-container {
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-self: baseline;
}
.tekst-container > h2 {
}

@media only screen and (min-width: 400px) {
  #home .container .headshot-container {
    max-width: 260px;
  }
}

@media only screen and (min-width: 600px) {
  .slider {
    width: 600px;
  }
}
@media only screen and (min-width: 650px) {
  .slider {
    width: 650px;
  }
}
@media only screen and (min-width: 700px) {
  p {
    font-size: 14px;
  }
  .image-container {
    width: 50%;
  }
  #contact .image-container {
    display: block;
  }
  .slider {
    width: 700px;
  }
}
@media only screen and (min-width: 750px) {
  .slider {
    width: 750px;
  }
}
@media only screen and (min-width: 800px) {
  .btn {
    top: 70%;
  }
  #mobile-menu,
  .menu__toggler {
    display: none;
  }
  .the-container {
    scroll-snap-type: both proximity;
  }

  .the-container {
    //  border-left: 20px solid #303030;
    //  border-right: 20px solid #303030;
  }

  nav {
    // border-left: 20px solid #303030;
    //  border-right: 20px solid #303030;
  }

  ul {
    top: 80%;
  }

  #prev,
  #next {
    display: block;
    font-size: 33px;
  }
  .scontent {
  }

  #home {
    h1,
    h2,
    h3 {
    }
  }

  #home .container .headline-container {
    text-align: left;
    margin-right: 20px;
    padding-right: 20px;
  }

  input,
  textarea {
    padding: 1vh;
  }
  nav {
    border-bottom: none;
  }

  textarea {
    min-height: 100px;
  }

  #desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tester {
    display: none;
  }
  .slider {
    width: 800px;
    height: 450px;
  }
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .tekst-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1rem;
    width: 50%;
  }
  .skills-container {
    width: 50%;
  }
  #contact .tekst-container p {
    padding-bottom: 2rem;
  }
  .image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact .image-container {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .slider {
    width: 900px;
    img {
      width: auto;
      height: 350px;
    }
  }

  #skills .cell {
    vertical-align: center;
    .tekst-container {
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .slider {
    width: 1200px;
  }
  p {
    font-size: 16px;
  }
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem 1.2rem;

    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }
}
