* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  height: auto;
}

.pic {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 150px;
  width: 40vw;
  min-height: 150px;
  max-width: 360px;
  max-height: 360px;
  background-size: cover;
}

#skills {
  height: 100%;
  .cell {
    vertical-align: baseline;
  }
  .container {
    height: 100%;
    img {
      width: 100%;
    }
  }
}
.pic1 {
  background-image: url("/static/imgs/t.jpg");
}
.marmor {
  background-image: url("/static/imgs/marmor2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.headshot {
  background-image: url("/static/imgs/headshot.jpg");
  width: 40vw;
  min-width: 150px;
  height: 40vw;
  height: 260px;
  min-height: 150px;
  max-width: 260px;
  max-height: 260px;
  background-size: cover;
  background-position: 75%, 50%;
}

.borderT {
  border-top: 2px solid var(--color-7);
}
//
:root {
  --color-1: #322f31;
  --color-2: #a2a2a2;
  --color-3: #f8f7f5;
  --color-4: #eeeae0;
  --color-5: #fbd2c0;
  --color-6: #b2ccab;
  --color-7: #a7bbce8e;
  --color-8: #87afc7;
  --color-8: #545454;
  --nav-color: #d1d1d1;

  --nav-height: 8vh;
  --scrollbar-height: 2px;

  --font-1: "Montserrat", "sans-serif";
  --font-2: "Oswald", sans-serif;
  --font-3: "Roboto", sans-serif;
  --font-4: "PT Serif", serif;
  --font-5: "PT Sans", sans-serif;
  --font-6: "Quicksand", sans-serif;
  --font-7: "Raleway", sans-serif;
  --font-8: "Playfair Display", serif;
}
