@use "partials/basic";

h1,
h2,
h3,
h4,
p,
section span {
  font-size: 14px;
  padding-bottom: 1rem;
  font-weight: 400;
}
p {
  line-height: normal;
}
nav {
  color: white;
}
.tester {
  padding: 0;
}
#projects h2 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 1rem;
  text-align: left;
  width: 100%;
  padding-left: 0.5rem;
}

#summary h2,
#projects .cell > h2,
#contact h2 {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  background: #5c7c81;
  width: 100vw;

  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#contact a {
  i {
    padding-right: 5px;
  }
  p {
    color: #2b706c;
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    margin: 0 !important;
  }
}
#summary .tekst-container,
#contact .tekst-container {
  padding-left: 12px;
  padding-right: 12px;
}

.skills-container h2 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

#projects {
  h2 {
    padding: 0;
    padding-top: 1rem;
  }
  .slider {
    .tekst-container h2 {
      font-size: 22px;
      margin-bottom: 1rem;
      padding: 0;
      font-weight: 700;
      margin-top: 0.5rem;
    }
  }
}

.manchet {
  font-weight: 600;
  font-size: 16px;
}
.end {
  font-weight: bold;
}

@media only screen and (min-width: 700px) {
  #summary h2,
  #projects .cell > h2,
  #contact h2 {
    font-size: 30px;
    padding-bottom: 1rem;

    width: 100vw;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #summary .tekst-container,
  #contact .tekst-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .skills-container .skills {
    div.skill {
      height: 120px;
    }
    > div {
      font-size: 35px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  #summary .tekst-container p:first-child,
  #contact p:first-child {
    margin-top: 50px;
  }
  .slider img {
    width: 400px;
  }

  .slider-container > div {
    height: auto;
  }
  .slider {
    .image-container {
      p {
        padding-bottom: 30px;
      }
    }
    .tekst-container {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  #contact a {
    p {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 1025px) {
}
